p{
    color: darkgreen;
}
li{

    list-style-type: disc;
    text-decoration: darkgoldenrod;
}

p em{
    color: crimson;
}
span.special{

    color: darkred;
    font-weight: bold;
    
}
.Hero{
    color: deeppink;
} 

h1+p{
    font-size: 200%;
    color: darkblue;
} 
/* # is used only for ID  */

/* #tara{
    color: orange;
} */

a:hover{
    color: darkgreen;
    text-size-adjust: bold;
    text-decoration: none;

}
/* for id tag attributes in html or css or both */
li#open {
    color: green;
}

/* List ko pani vitra ko class lai select garako */
li[class="a"]{
    color:crimson;
}
/* li[class~="a"]{
    color:green;
    text-size-adjust: 100%;
} */

/* Everything or universal selector */
/* *{
    list-style-type: none;
    color: hotpink; */
}
/* This much for today and see a have a good day
thank you bye  */